#d1{
    display: inline-block;
}
#d2{
   display: inline-block;
}
#d3{
    display: inline-block;
}
#d4{
    display: inline-block;
}
#d5{
    display: inline-block;
}
#d6{
    display: inline-block;
}
